.breadcrumbs {
    justify-content: left;
    align-items: left;
    display: inline-block;
}

.breadcrumbs-text {
    width: 197px;
    height: 28px;

    /* H4/medium */
    color: #1a3353;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin-right: 10px;
}
